body {
	margin: 0 auto;
	background-color: #505050;
}
.style-blc {
	-moz-box-shadow: 10px 10px 5px 0px #000;
	-webkit-box-shadow: 10px 10px 5px 0px #000;
	-o-box-shadow: 10px 10px 5px 0px #000;
	box-shadow: 10px 10px 5px 0px #000;
	background-color: #909090;
	border-radius: 10px;
}
header {
	height: 160px;
	width: 1400px;
	margin: 30px auto;
}
header img, header {
	border-radius: 10px;
}
#page {
	width: 1300px;
	margin: auto;
	display: flex;
}
#center {
	width: 920px;
	padding: 10px;
	margin: 0px 30px;
}
.sides {
	width: 160px;
	height: 400px;
}
