body {
	margin: 0 auto;
	background-color: #505050;
}
.style-blc, #chat{
	-moz-box-shadow: 10px 10px 5px 0px #000;
	-webkit-box-shadow: 10px 10px 5px 0px #000;
	-o-box-shadow: 10px 10px 5px 0px #000;
	box-shadow: 10px 10px 5px 0px #000;
	background-color: #909090;
	border-radius: 10px;
}
header {
	height: 160px;
	width: 1400px;
	margin: 30px auto;
}
#lp, #btn-menu { float: right; }
#btn-menu { margin: 10px; }
#lp {
	height: 160px;
	margin-top: 20px;
}
#btn-menu img {
	height: 20px;
	display: block;
}
#page {
	width: 1300px;
	margin: auto;
	display: flex;
}
#center {
	width: 920px;
	padding: 10px;
	margin: 0px 30px;
}
.sides {
	width: 160px;
	height: 420px;
}
#left img, #right img {
	width: 70px;
	display: block;
	margin: 10px auto;
}
#wall {
	width: 116px;
	height: 75px;
	margin: auto;
	background: url("resources/brick.jpg") repeat;
}
#chat {
	background-color: #88ff89;
	width: 500px;
	height: 180px;
	padding: 10px;
	position: absolute;
	bottom: 60px;
	left: 170px;
}
#reply { width: 320px; }
p {
	margin: 0;
	font-size: 18px;
	font-family: arial;
}
